@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 96.5vh;
    background: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.wraper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 0.5rem;
    padding: 30px 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.wraper h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}
.wraper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.wraper .lupa-pass {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 17px;
    font-weight: 370;
    margin: -15px 0 15px;
}
.lupa-pass label input {
    accent-color: white;
    margin-right: 3px;
}
.lupa-pass a {
    color: blue;
    text-decoration: none;
}
.lupa-pass a:hover {
    color: white;
    font-weight: 700;
}
.wraper .tombol {
    width: 100%;
    height: 45px;
    background: blue;
    color: white;
    border: none;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    
}
.wraper .tombol:hover{
    color: black;
    background-color: white;
}
.wraper .link-daftar {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}
.link-daftar p {
    color: white;
}
.link-daftar p a {
    color: blue;
    text-decoration: none;
    font-weight: 400;
}
.link-daftar p a:hover {
    color: white;
    font-weight: 800;
}